{{#if details.classification}}
  <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
    <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
    <span class="integration-text-color">Classification: {{details.classification}}</span>
  </span>
{{/if}}
{{#if details.category}}
  <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
    <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
    <span class="integration-text-color">RIOT Category: {{details.category}}</span>
  </span>
{{/if}}
{{#if torExitNode}}
  <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-border-color critical-summary-tag">
    <span class="acronym color=#fff">{{block.acronym}}</span>
    <span class="critical-summary-tag">Tor Exit Node</span>
  </span>
{{/if}}
{{#if details.metadata}}
  {{#if details.metadata.country}}
    <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
      <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
      <span class="integration-text-color">Country: {{details.metadata.country}}</span>
    </span>
  {{/if}}
  {{#if details.metadata.organization}}
    <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
      <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
      <span class="integration-text-color">Org: {{details.metadata.organization}}</span>
    </span>
  {{/if}}
{{/if}}

{{#each additionalTags as |tag index|}}
  <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
    <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
    <span class="integration-text-color">
      {{fa-icon "tag" class="tag-icon" fixedWidth=true}}
      {{tag}}
      {{#if (and moreThan1Tags (eq (sub additionalTags.length 1) index))}}
        + {{sub tags.length 1}} others
      {{/if}}
    </span>
  </span>
{{/each}}

{{#if details.stats}}
  <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
    <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
    <span class="integration-text-color"># of IPs: {{details.count}}</span>
  </span>
  {{#if (and details.stats.countries details.stats.countries.length)}}
    <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
      <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
      <span class="integration-text-color">
        Top Country: 
        {{details.stats.countries.0.country}}
        ({{details.stats.countries.0.count}})
      </span>
    </span>
  {{/if}}
  {{#if (and details.stats.classifications details.stats.classifications.length)}}
    <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
      <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
      <span class="integration-text-color">
        Malicious: 
        {{#each details.stats.classifications as |classification|}}
          {{#if (eq classification.classification "malicious")}}
            {{classification.count}}
          {{/if}}
        {{/each}}
      </span>
    </span>
  {{/if}}
  {{#if (and details.stats.classifications details.stats.classifications.length)}}
    <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
      <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
      <span class="integration-text-color">
        Spoofable: 
        {{#each details.stats.spoofable as |spoofable|}}
          {{#if spoofable.spoofable}}
            {{spoofable.count}}
          {{/if}}
        {{/each}}
      </span>
    </span>
  {{/if}}
  {{#if (and details.stats.classifications details.stats.classifications.length)}}
    <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
      <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
      <span class="integration-text-color">
        Top Tag: 
        [{{details.stats.tags.0.tag}}]
        ({{details.stats.tags.0.count}})
      </span>
    </span>
  {{/if}}
{{/if}}